Flask
gunicorn
itsdangerous
Jinja2
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.7.1
numpy==1.25.2
pandas==2.0.3
scikit-learn==1.2.2
threadpoolctl==3.5.0
Werkzeug==3.0.3
requests
joblib==1.4.2
sklearn-pandas==2.2.0
statistics


